body{
    margin: 0;
}
.navigation-bar{
    background-color: #00032C;
    height: 7rem;
    padding: 1rem 5rem 1rem 5rem;
}
.right-sec{
    height: 100%;
    list-style-type: none;
    display: inline;
    position: relative;
    float: right;
    margin-top: 1.5rem;
}
.right-sec li{
    display: inline;
    padding: .5rem;
    color: white;
    font-size: large;
}
.navigation-bar img{
    width: 8rem;
    display: inline;
}
.jumbotron{
    background: linear-gradient(to bottom,#00032C, #550EC3);
    color: white;
    justify-items: center;
    padding: 5%;
}
.jumbotron h1,h2,p{
    margin-bottom: 1rem;
}
.jumbotron h1{
    font-size:4rem;
}
.jumbotron h2{
    font-size: 2.5rem;
}
.jumbotron p{
    font-size: 1.5rem;
}
.formulario{
    background: linear-gradient(to bottom,#550EC3, #C102A0);
    padding: 5% 15%;
    justify-items: center;
    color: white;
}
.footer{
    background-color: black;
    height: 6rem;
    padding: .5rem 5rem 
}
.footer-right{
    color: white;
    height: 100%;
    list-style-type: none;
    display: inline;
    position: relative;
    float: right;
    margin-top: 1.5rem;
}
.footer-right li{
    display: inline;
    padding: 2rem;
    color: white;
    font-size: large;
}
.lisform{
    color:white;
    font-weight: 900;
    background-color: #00032C;
    padding: 5% 15%;
}
.lisform button{
    position: relative;
    float: right;
    margin-left:2rem ;
}
.displayable{
    display: none;
    position: relative;
    float: right;
    margin-top:1.2rem ;

}

@media screen and (max-width:767px){
    .right-sec{
        display: none;
    }
    .displayable{
        display: flex;
    }
    .menutoggle{
        list-style-type: none;
        font-size: large;
    }
    .menutoggle li{
        padding: .5rem;
        color: white;
        font-size: large;
    }
    .footer{
        background-color: black;
        height: 10rem;
        padding: .5rem 5rem 
    }
    .footer-right{
        color: white;
        height: 100%;
        list-style-type: none;
        position: relative;
        float: left;
        margin-top: 1.5rem;
    }
    .footer-right li{
        display: flex;
        padding: .1rem;
        color: white;
        font-size: small;

    }

}
